<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"></head>
<body>
    <nav class="navbar bg-dark navbar-dark fixed-top" th:fragment="navbar">
        <div class="container-fluid justify-content-md-center">
            <a class="navbar-brand col-md-3" href="/">myshop</a>
            <ul class="navbar-nav bg-dark col-md-3">
                <li class="nav-item me-2">
                    <a class = "nav-link" href="#">메뉴1</a>
                </li>
            </ul>
            <div class="col-md-3 text-end align-content-center">
                <form class="d-inline-block" action="/logout" method="post">
                    <button class="btn btn-primary" th:if="${loginMember != null}">로그아웃</button>
                </form>
                <form class="d-inline-block me-2" action="/login" method="get">
                    <button class="btn btn-primary" th:if="${loginMember == null}">로그인</button>
                </form>
                <form class="d-inline-block" action="/join" method="get">
                    <button class="btn btn-primary" th:if="${loginMember == null}">회원가입</button>
                </form>
            </div>
        </div>
    </nav>

</body>
</html>