<!DOCTYPE html>
<html lang="en" class="w-100 h-100" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="w-100 h-100">
    <nav th:insert="~{template/fragment/navbar :: navbar}"></nav>

    <div class="d-inline-flex align-items-center justify-content-center h-100 w-100">
        <div class="overflow-auto container mx-auto row">
            <div class="card text-center mx-auto mb-4 col" style="width: 228px; min-width: 228px; max-width: 228px">
                <img src="" class="card-img-top" alt="test">
                <div class="card-body">
                    test
                </div>
            </div>




        </div>
    </div>
</body>
</html>