<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>판매자 회원가입</title>
</head>
<body>
    <div>
        <form method="post">
            <div>
                <label for="username">Username</label>
                <input type="text" placeholder="Username" id="username" name="username" required>
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" placeholder="Password" id="password" name="password" class="password" required>
            </div>

            <div>
                <label for="name">Name</label>
                <input type="text" placeholder="Name" id="name" name="name" class="name" required>
            </div>

            <div>
                <label for="phone-number">Phone Number</label>
                <input type="tel" placeholder="Phone Number" id="phone-number" name="phoneNumber" class="phone-number" required>
            </div>

            <button type="submit">Join</button>

        </form>
    </div>
</body>
</html>